version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "04:00"
      timezone: "UTC"
    labels: ["dependencies", "ci"]
    groups:
      ci:
        patterns:
          - "*"

  - package-ecosystem: "npm"
    directory: "/frontend"
    schedule:
      interval: "weekly"
      day: "tuesday"
      time: "04:00"
      timezone: "UTC"
    labels: ["dependencies", "frontend"]
    groups:
      frontend:
        patterns:
          - "*"

  - package-ecosystem: "npm"
    directory: "/bun-app"
    schedule:
      interval: "weekly"
      day: "tuesday"
      time: "04:00"
      timezone: "UTC"
    labels: ["dependencies", "frontend"]
    groups:
      frontend:
        patterns:
          - "*"

  - package-ecosystem: "npm"
    directory: "/bots/node"
    schedule:
      interval: "weekly"
      day: "tuesday"
      time: "04:00"
      timezone: "UTC"
    labels: ["dependencies", "frontend"]
    groups:
      frontend:
        patterns:
          - "*"

  - package-ecosystem: "pip"
    directory: "/bots/python"
    schedule:
      interval: "weekly"
      day: "wednesday"
      time: "04:00"
      timezone: "UTC"
    labels: ["dependencies", "backend"]
    groups:
      backend:
        patterns:
          - "*"

  - package-ecosystem: "gomod"
    directory: "/backend"
    schedule:
      interval: "weekly"
      day: "wednesday"
      time: "04:00"
      timezone: "UTC"
    labels: ["dependencies", "backend"]
    groups:
      backend:
        patterns:
          - "*"

  - package-ecosystem: "docker"
    directory: "/docker"
    schedule:
      interval: "weekly"
      day: "wednesday"
      time: "04:00"
      timezone: "UTC"
    labels: ["dependencies", "backend"]
    groups:
      backend:
        patterns:
          - "*"
